* {
  box-sizing: border-box;
}

body {

  margin: 0;

  font-family:
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;

  background:
    linear-gradient(
      135deg,
      #0f172a,
      #1e293b
    );

  color: white;

  min-height: 100vh;
}